body {
    background-color: sandybrown;
}
h1 {
   font-family: arial, serif; 
}

.button1, .button2, .button3, .button4 {
padding: 10px;
border-radius: 5px;
width: 100px;
}
.button1 {
    background-color: skyblue;
}
.button2 {
    background-color: palegoldenrod;
}
.button3 {
    background-color: greenyellow;
}
.button4 {
    background-color: peachpuff;
}
.link {
    color: black;
}
.link:hover {
    color: pink;
}

.link:visited {
    color:red;
}
img#puszka:hover{
    opacity : 0.50;
    filter : alpha(opacity=50);
    }

h1:hover {
    color: blue;
}
section {
    overflow: hidden;
}


.box {
    margin: 50px 0 50px 0;
    display: flex;
    width: 450px;
    flex-wrap: wrap;
}
.box2 {
    margin: 0 0 50px 0;
    display: flex;
    width: 450px;
    height: 80px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.pole1, .pole2, .pole3, .pole4 {
    width: 200px; 
    height: 30px; 
    margin:0px; 
    background: greenyellow; 
    border: 5px solid blueviolet; 
    text-align: center;
   }
.pole3, .pole4 {
    margin-top: -5px;
}
.pole2, .pole4 {
    margin-left: -5px;
}

.pole11, .pole21, .pole31, .pole41 {
    width: 200px; 
    height: 30px; 
    margin:0px; 
    background: greenyellow; 
    border: 5px solid blueviolet; 
    text-align: center;
   }
.pole31, .pole41 {
    margin-top: 10px;
}
